@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

.title{
  text-align: center;
}

.slider {
  position: relative;
  height: 500px;
  background: #333;
  color: white;
}

.slick-slide {
  height: 500px;
}


.slideCopy-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.slideCopy-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.slick-prev {
  left: 20px;
  color: black;
  z-index: 1000;
}
.slick-next {
  right: 20px;
  z-index: 1000;
}

/* .slick-dots{}

.slick-dots li {} */

.slick-dots li button::before {
  font-size: 15px;
}

.bundle-container{
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}

.bundle-content img{
  border-radius: 8px;
}

.bundle-details{
  text-align: center;
}

.bundle-cta{
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.bundle-cta p{
  padding: 0px 16px;
}

.bundle-cta button{
  text-decoration: none;
  border: none;
  background-color: #ee82ee;
  border-radius: 12px;
  padding: 0px 10px;
  font-size: 24px;
  box-shadow: 10px 10px 19px -3px rgba(0,0,0,0.32);
}

.bundle-cta button:hover {
  background-color: #9e299e;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.bundle-cta button:active {
  background-color: #cccccc;
  box-shadow: inset 0 0 5px #333333;
  color: #ffffff;
  
}

@media only screen and (max-width: 768px) {
    .bundle-content img{
      width: 90%;
      margin-left: 10px;
    }

    .bundle-details {
      font-size: 10px;
      padding: 0px 10px;
    }

}

@media only screen and (max-width: 425px) {


  .bundle-cta button{
    font-size: 16px;
  }

}

@media only screen and (max-width: 376px) {


  .bundle-container{
    display: flex;
    flex-direction: column;
    
  }

  .bundle-content{
    padding-bottom: 20px;
  }

}

.cart-value{
  font-weight: 700;
}

.selected-drinks{
  font-weight: 700;
}

